.girox:hover{
	-webkit-animation: girox 2s 1 0.5s;
	-o-animation: girox 2s 1 0.5s;
	animation: girox 2s 1 0.5s;
	backface-visibility: visible;

}

@keyframes girox{
	0%{
		opacity: 0.5;
		 -webkit-transform: perspective(200px) rotateX(90deg);
		    -moz-transform: perspective(200px) rotateX(90deg);
		     -ms-transform: perspective(200px) rotateX(90deg);
		      -o-transform: perspective(200px) rotateX(90deg);
		         transform: perspective(200px) rotateX(90deg); 
	}
	40%{
		 -webkit-transform: perspective(200px) rotateX(-20deg);
		    -moz-transform: perspective(200px) rotateX(-20deg);
		     -ms-transform: perspective(200px) rotateX(-20deg);
		      -o-transform: perspective(200px) rotateX(-20deg);
		         transform: perspective(200px) rotateX(-20deg); 
	}
	70%{
		 -webkit-transform: perspective(200px) rotateX(20deg);
		    -moz-transform: perspective(200px) rotateX(20deg);
		     -ms-transform: perspective(200px) rotateX(20deg);
		      -o-transform: perspective(200px) rotateX(20deg);
		         transform: perspective(200px) rotateX(20deg); 
	}
}
.giroy:hover{
	-webkit-animation: giroy 2s 1 0.5s;
	-o-animation: giroy 2s 1 0.5s;
	animation: giroy 2s 1 0.5s;
	backface-visibility: visible;

}

@keyframes giroy{
	0%{
		opacity: 0.5;
		 -webkit-transform: perspective(200px) rotateY(90deg);
		    -moz-transform: perspective(200px) rotateY(90deg);
		     -ms-transform: perspective(200px) rotateY(90deg);
		      -o-transform: perspective(200px) rotateY(90deg);
		         transform: perspective(200px) rotateY(90deg); 
	}
	40%{
		 -webkit-transform: perspective(200px) rotateY(-20deg);
		    -moz-transform: perspective(200px) rotateY(-20deg);
		     -ms-transform: perspective(200px) rotateY(-20deg);
		      -o-transform: perspective(200px) rotateY(-20deg);
		         transform: perspective(200px) rotateY(-20deg); 
	}
	70%{
		 -webkit-transform: perspective(200px) rotateY(20deg);
		    -moz-transform: perspective(200px) rotateY(20deg);
		     -ms-transform: perspective(200px) rotateY(20deg);
		      -o-transform: perspective(200px) rotateY(20deg);
		         transform: perspective(200px) rotateY(20deg); 
	}
}

.giroOutY:hover{
	-webkit-animation: giroOuty 1.5s 1 forwards;
	-o-animation: giroOuty 1.5s 1 forwards;
	animation: giroOuty 1.5s 1 forwards;
}

@keyframes giroOuty{
	100%{
		opacity: 0.3;
		-webkit-transform: perspective(150px) rotateY(90deg);
		   -moz-transform: perspective(150px) rotateY(90deg);
		    -ms-transform: perspective(150px) rotateY(90deg);
		     -o-transform: perspective(150px) rotateY(90deg);
		        transform: perspective(150px) rotateY(90deg);

	}
}

.giroOutx:hover{
	-webkit-animation: giroOutX 1.5s 1 forwards;
	-o-animation: giroOutX 1.5s 1 forwards;
	animation: giroOutX 1.5s 1 forwards;
}

@keyframes giroOutX{
	100%{
		opacity: 0.3;
		-webkit-transform: perspective(150px) rotateX(-90deg);
		   -moz-transform: perspective(150px) rotateX(-90deg);
		    -ms-transform: perspective(150px) rotateX(-90deg);
		     -o-transform: perspective(150px) rotateX(-90deg);
		        transform: perspective(150px) rotateX(-90deg);

	}
}
.giro{
	-wekit-backface-visibility: hidden;

}

.giro:hover{
	-webkit-animation: giro 2s 1;
	-o-animation: giro 2s 1;
	animation: giro 2s 1;
	

}

@keyframes giro{
	40%{
		-webkit-transform: perspective(300px) translateZ(120px) rotateY(170deg) ;
		   -moz-transform: perspective(300px) translateZ(120px) rotateY(170deg) ;
		    -ms-transform: perspective(300px) translateZ(120px) rotateY(170deg) ;
		     -o-transform: perspective(300px) translateZ(120px) rotateY(170deg) ;
		        transform: perspective(300px) translateZ(120px) rotateY(170deg) ;
	}
	50%{
		-webkit-transform: perspective(300px) translateZ(120px) rotateY(190deg) ;
		   -moz-transform: perspective(300px) translateZ(120px) rotateY(190deg) ;
		    -ms-transform: perspective(300px) translateZ(120px) rotateY(190deg) ;
		     -o-transform: perspective(300px) translateZ(120px) rotateY(190deg) ;
		        transform: perspective(300px) translateZ(120px) rotateY(190deg) ;
	}	
	80%{
		-webkit-transform: perspective(300px) translateZ(10px) rotateY(340deg) ;
		   -moz-transform: perspective(300px) translateZ(10px) rotateY(340deg) ;
		    -ms-transform: perspective(300px) translateZ(10px) rotateY(340deg) ;
		     -o-transform: perspective(300px) translateZ(10px) rotateY(340deg) ;
		        transform: perspective(300px) translateZ(10px) rotateY(340deg) ;
		
	}
	100%{
		-webkit-transform: perspective(300px) rotateY(360deg);
		   -moz-transform: perspective(300px) rotateY(360deg);
		    -ms-transform: perspective(300px) rotateY(360deg);
		     -o-transform: perspective(300px) rotateY(360deg);
		        transform: perspective(300px) rotateY(360deg);

	}



}
/* flip*/
.flip{
	position: relative;
	transition: all 1s ease;
	-webkit-transform: perspective(600px);
	   -moz-transform: perspective(600px);
	    -ms-transform: perspective(600px);
	     -o-transform: perspective(600px);
	        transform: perspective(600px);
	
	-webkit-transform-style: preserve-3d; 
}
.flip-1{
	 background: url('../img/muestra.jpg');
	 background-size:cover ;
}
.flip .flip-1, .flip .flip-2{
	position: absolute;
	backface-visibility: hidden;
}
.flip .flip-2{
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	    -ms-transform: rotateY(-180deg);
	     -o-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}
.flip:hover{

	-moz-transform-origin: 100% 50%;
	-moz-transform: perspective(600px) rotateY(-180deg) translateX(100%);
	-webkit-transform: perspective(600px) rotateY(-180deg) translateX(100%);
	transform-origin: 100% 50%;
	transform: perspective(600px) rotateY(-180deg) translateX(100%);
}	

/* cubo */
.cubo .front{
    
    box-shadow: inset 0px 2px 20px black;
    background: url('../img/muestra.jpg');
	background-size:cover ;
	-webkit-transition:  .25s ease;
	   -moz-transition:  .25s ease;
	    -ms-transition:  .25s ease;
	     -o-transition:  .25s ease;
	        transition:  .25s ease;
}
.cubo .back{
    background: white;
    -webkit-transform: translateZ(-90px)rotateY(90deg);
       -moz-transform: translateZ(-90px)rotateY(90deg);
        -ms-transform: translateZ(-90px)rotateY(90deg);
         -o-transform: translateZ(-90px)rotateY(90deg);
            transform: translateZ(-90px)rotateY(90deg);
    left: 90px ;

}
.cubo .back hr{
    background: #CA1919;
    padding: 1.2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: initial;
    margin-bottom: initial;

}
.cubo .back h3{
	line-height: initial;
	text-align: initial;
	color: black;
	text-shadow: initial;
	margin:0px;
	width: 90%;
	margin-left: 5%;
}
.cubo .back p{
	line-height: initial;
	text-align: initial;
	text-shadow: initial;
	color: black;
	margin:0px;
	width: 90%;
	margin-left: 5%;
}

.cubo{

	-webkit-transition:  .5s ease-in-out ; transform-style: preserve-3d; transform-origin: left center; 
	   -moz-transition:  .5s ease-in-out ; transform-style: preserve-3d; transform-origin: left center; 
	    -ms-transition:  .5s ease-in-out ; transform-style: preserve-3d; transform-origin: left center; 
	     -o-transition:  .5s ease-in-out ; transform-style: preserve-3d; transform-origin: left center; 
	        transition:  .5s ease-in-out ; transform-style: preserve-3d; transform-origin: left center; 
}

.cubo:hover{

	-webkit-transform: perspective(800px) rotateY(-80deg);
	   -moz-transform: perspective(800px) rotateY(-80deg);
	    -ms-transform: perspective(800px) rotateY(-80deg);
	     -o-transform: perspective(800px) rotateY(-80deg);
	        transform: perspective(800px) rotateY(-80deg);
}
.cubo:hover .front{
	opacity: 1;
}